// Specific CSS for your home-page
body {
  background-color: #F6EBE7;
  margin: auto;
  height: 100%;
}

.container-fluid{
  padding: 0;
}

.title-home, .input-group {
  padding-left: 10px;
}


#button-addon2 {
  background:#F6EBE7;
  color:#CD0E0E;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

#button-addon2:hover {
  background:#CD0E0E;
  color:#F6EBE7;
}
.form-control {
  border:#F6EBE7;
  background-color:rgba(43, 13, 13, 0.196);
  opacity: 1;
  filter:(opacity=50);
  border: solid 1px #F6EBE7;
}
.title-p{
  color: #3e3e3e;
  font-family: "Syne", sans-serif;
  font-weight: 100;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 10px;
}



.background-picture {
  background-image: url("https://images.pexels.com/photos/5340280/pexels-photo-5340280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  width: auto;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 45px;
}

.background-picture h2{
  color:#CD0E0E;
  font-size: 4rem;
  font-family: "Gasoek one", sans-serif;
  font-weight: 80;
  margin-bottom: 20px;
  text-align: left;
  margin-bottom: auto;
}

  .button-Postal:hover {
    background-color: rgba(80, 2, 2, 0.8);
}

.title-h2{
  color: #CD0E0E;
  font-family: "Gasoek one", sans-serif;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

}

.title-article{
  color: rgb(183, 8, 8);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.phrase{
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-size-adjust: 20px;
}

.card-css h2{
  font-size: 8px;
}

.card{
  display: flex;
  flex-direction: row;
  background-color: #F6EBE7;
  margin-bottom: 30px;
  padding: 20px;
  border: none;
  justify-content: space-between;
  padding: 30px;
}

.card-css{
  box-sizing: border-box;
  height:auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 25px;
  background-color: whitesmoke;
  font-size: 17px;
  }

.card-btn{
  background:#CD0E0E;
  color:white;
  font-family: "Syne", sans-serif;
  font-weight: bold;
  height: 75%;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 7px;
  }

.card-btn:hover {
  background-color: whitesmoke;
  color: #CD0E0E;
  }

.card-btn button {
  background: transparent;
  color: white;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.card-btn button:hover {
  color: #CD0E0E;
}

  .phrase {
    font-family: "Syne", sans-serif;
  }

.card-css p {
  text-align: justify;
}

.home-page-btn {
  background-color: #CD0E18;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}

.home-page-btn:hover {
  background-color: #e07a7f;
  color: white;
  transition: 0.5s;
}
