.schedules-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding: 5px 150px;
}

.schedule-index {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.schedule-index-info {
  margin-bottom: 10px;
}

.schedule-index-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.index-schedules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-index-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 25px;
  color: #CD0E0E;
  font-family: 'Gasoek One', cursive;
}

.schedule-index-btn-show,
.schedule-index-btn-edit,
.schedule-index-btn-delete {
  text-decoration: none;
  color: #CD0E0E;
  padding: 2px 10px;
  border-radius: 5px;
}


//showpage for schedule

.review{
width: 20%;
border-radius: 20px;
background-color: #ecc0b0;
}

.container-schedule  {

  h1{
  color: #CD0E0E;
  font-family: 'Gasoek One', cursive;
  margin-bottom: 20px;
  }
  text-align: center;
  margin-top: 48px;
  p{
    width: 40%;
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 8px;
  }
}

.schedule-title-text {
  color: #CD0E0E;
  font-family: 'Gasoek One', cursive;
  margin-bottom: 20px;
}

.overvieuw-schedule {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overvieuw-schedule p {
  margin: 10px 0;
  width: 40%;
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 8px;
}

.buttons a {
  background-color: #CD0E0E;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.buttons a:hover {
  background-color: #960707;
}

.schedule-index-btn-new{
  background-color: #CD0E0E;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.schedule-index-btn-new:hover {
  background-color: #960707;
}
