.center-address {
  margin-left: 68px;
  font-family: 'Gasoek One', cursive;
}

.schedule-reviews {
  display: flex;
  margin-top: 140px;
  margin-left: 160px;
}

.schedule {
  flex: 1;
}

.centers-show-page-map {
  flex: 2;
  position: relative;
}

.schedule ul li {
  margin-top: 40px;
  margin-left: 70px;
}

.reviews {
  flex: 1;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #cd0e0e;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out;
  outline: none;
}

.button:hover {
  background-color: white;
  color: #cd0e0e;
  transform: scale(1.05);
}

.actions {
  text-align: center;
  margin-bottom: 100px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.map-schedule {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.reviews h1 {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-top: 68px;
}

.centers-show-Book-now {
  width: 180px;
  cursor: pointer;
}

.centers-show-Book-now-h1 {
  font-size: 25px;
  color: white;
  background-color: #CD0E0E;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centers-show-title {
  font-size: 30px;
  font-weight: bold;
  color: #CD0E0E;
}

.centers-show-address {
  font-size: 20px;
}

.map-schedule {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
}

.Center-reviews-title {
  margin-top: 30px;
  display: flex;
}

.add-review-btn {
  border-style: none;
  text-decoration: underline;
  color: #CD0E0E;
  font-size: 20px;
  background-color: #F6EBE7;
}

.review-form-rating-text {
  border-style: none;
  border-radius: 5px;
  padding: 2px 8px;
  margin-left: 5px;
  color: #CD0E0E;
  border-style: solid;
  border-color: #c4bfbf;
}

.review-form-text-filed {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
}

.review-form-text-content {
  border-radius: 5px;
  padding: 10px;
  border-style: none;
  margin-top: 5px;
  color: #CD0E0E;
  border-color: #c4bfbf;
  border-style: solid;
}

.custom-submit-class {
  border-radius: 5px;
  background-color: #CD0E0E;
  color: white;
  border-style: none;
}


.review-form-actions {
  margin-top: 8px;
}

.add-review {
  margin-top: 10px;
}

.review-form {
  display: none;
}

.review {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.centers-title-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}