<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
<header class="background-pic">
  <div>
    <h1> What’s give your blood?</h1>
  </div>
  <div class="dev-p col-6">
    <p>Our application aims to address the critical shortage of blood donations by connecting blood donors with recipients in need.</p>
    <p>By providing a user-friendly interface and search functionality, we make it easier for users to find blood donors based on location, blood type, and availability. Together, we can make a difference and save lives through the gift of blood donation.</p>
    <p> and you might even help someone you know in need.  The process is safe and could offer health benefits for you too.</p>
    <p> Thank you for saving lives! <i class="fas fa-hand-holding-heart fa-lg" style="color: #f10404;"></i> </p>
  </div>
</header>
<body>
<div class="about-us">
  <h2 class="about-us-h2">Mission of our Project</h2>
  <p class="about-us-p">create a platform that facilitates the gift of life through blood donation</p>
  <p class="about-us-p">Search functionality to find blood donors based on location, blood type, and availability</p>
  <p class="about-us-p">User-friendly interface for easy navigation and interaction</p>
  <p class="about-us-p">It provides a convenient way for users to find and contact potential blood donors in their area</p>
</div>
<div class="container-dev">
    <h2 class="dev-h2">Check The Team</h2>
<div class="card-profile">
  <img src="https://ca.slack-edge.com/T02NE0241-U060JQQF0DB-73a1fc6530b0-512" />
    <div class="card-product-infos">
      <h2><strong>Quentin Collet</strong></h2>
      <p class="team-p"> 23, Belgian and The Guy who came up with The website Idea and name</p>
      <p class="team-p"> Making a Good and Solid Plan whitch Helped the other Devs in Creating the Web App</p>
      <p class="team-p"> Creating the <strong>Web-Application</strong> And Creating The Structure of The Website</p>
      <p class="team-p"> Doing Major Checkups for any bugs and fixing them</p>
      <p class="team-p">Working in both parts of the website</p>
      <a class="dev-link" href="https://github.com/quentcol"> <i class="fa-brands fa-github"></i> Github</a>
    </div>
  </div>
 <div class="card-profile">
  <img  src="https://ca.slack-edge.com/T02NE0241-U0614JMQFND-0dcaa736e8bd-512" />
    <div class="card-product-infos">
      <h2><strong>IHEB LAIB</strong></h2>
      <p class="team-p"> 25, Algerian living in London had an intrest in The project idea </p>
      <p class="team-p"> Creating The structure HTML of The pages to make the website looks better </p>
      <p class="team-p">Styling and creating forms for each page and matching them with The Figma Models Idea</p>
      <p class="team-p">Working both ways in the Backend and fornt end of the website and collaborating with the rest of the team </p>
      <p class="team-p"> Doing Minor Checkups for any bugs in Styling and fixing them</p>
     <a class="dev-link" href="https://github.com/IHEBLAIB99"> <i class="fa-brands fa-github"></i> Github</a>
     <a class="dev-link" href="https://www.linkedin.com/in/iheb-laib-0b4ba9267/"><i class="fa-brands fa-linkedin"></i> linkedin</a>
    </div>
  </div>
 <div class="card-profile">
  <img src="https://ca.slack-edge.com/T02NE0241-U060LDJK6GL-3a6c129cd77c-512" />
    <div class="card-product-infos">
      <h2><strong>Mahmoud Moursy</strong></h2>
      <p class="team-p">Lives in France and a guy Who also have a Big intrest in The Project</p>
      <p class="team-p"> He loves technology, design and creativity</p>
      <p class="team-p">Made a big Contribution in making this website functional since he works in both Fields</p>
      <p class="team-p"> He is problem solver and The team think highly of Him and Rely on him in Solving this Problems </p>
      <a class="dev-link" href="https://github.com/Msrm-stake"> <i class="fa-brands fa-github"></i> Github</a>
      <a class="dev-link" href="https://www.linkedin.com/in/mahmoud-moursy-43b7a1105/"><i class="fa-brands fa-linkedin"></i> linkedin</a>
    </div>
  </div>
 <div class="card-profile">
  <img src="https://ca.slack-edge.com/T02NE0241-U060USSDNHK-416b4a0e0b65-512" />
    <div class="card-product-infos">
      <h2><strong>Robin Gerritsen</strong></h2>
      <p class="team-p">22, live in The Netherlands And he is The Guy who is always ready to help and give a hand</p>
      <p class="team-p">He is a problem solver and always ready to help the team in any way he can</p>
      <p class="team-p">worked and styled most of the pages and collaborated with the team to make the website looks Better  </p>
      <p class="team-p">Created several Pages And Improved the styling and made it user friendly</p>
      <a class="dev-link" href="https://github.com/RobinGerr"> <i class="fa-brands fa-github"></i> Github</a>
      <a class="dev-link" href="https://www.linkedin.com/in/gerritsenrobin/"><i class="fa-brands fa-linkedin"></i> linkedin</a>
    </div>
  </div>
</div>
</body>
</html>
