<div class="edit-schedule-header">Edit Schedule</div>

<div class="edit-hospital-schedule">
  <%= render 'form_edit' %>
</div>

<%= link_to 'Show', @schedule %> |
<%= link_to 'Back', schedules_path %>