body {
  font-family: 'Syne', sans-serif;
  background-color: #F6EBE7;
  margin: 0;
  padding: 0;
  //height: 100vh;
}
.container {
  max-width: 600px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
  color: #CD0E0E;
  font-size: 30px;
  font-family: 'Gasoek one', sans-serif;
  display: flex;
  margin: 10px;
  justify-content: center;
}
.appointment-details {
  margin-bottom: 20px;
}
.detail {
  margin: 10px;
  margin-top: 15px;
}
strong {
  color:#CD0E0E;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.btn-primary {
  background-color: #CD0E0E;
  color: #fff;
}

.btn-primary :hover {
  background-color: #F6EBE7;
  color: #CD0E0E;
}

.btn-secondary {
  background-color: #6C757D;
  color: #fff;
}
.btn:hover {
  opacity: 0.8;
}

.login1 {
  color: #CD0E0E;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  margin: 10px;
  justify-content: center;
  padding-top: 10px;
}

.donor-new {
  color: #CD0E0E;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  margin: 10px;
  justify-content: center;
  padding-top: 10px;
}

.form-inputs1{
  width: 500px;
}

#donor_submit{
  background-color: #CD0E0E;
  color: white;
  border-style: none;
  text-decoration: none;
  width: 50%;
  padding: 20px 20px;
  border-radius: 20px;
  margin-left: 120px;
  margin-top: 30px;
}

.login-signup{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: #CD0E0E;
}

.form-actions1 {
  padding-left: 20%;
  width: 85%;
  padding-top: 30px;
}

.center-new{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: #CD0E0E;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hospital-new {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: #CD0E0E;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center-form{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: #CD0E0E;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.field{
  width: 700px;
}

.center-action-button{
padding-left: 250px;
padding-top: 50px;
}

.show-appointment-actions {
  display: flex;
  justify-content: space-around;
}

.show-appointment-edit-btn,
.show-appointment-back-btn {
  text-decoration: none;
  background-color: #CD0E0E;
  color: white;
  padding: 2px 20px;
  border-radius: 5px;
}

.new-appointment-actions-btn {
  display: flex;
  justify-content: space-around;
}

.new-appointment-confirm,
.new-appointment-cancel {
  background-color: #CD0E0E;
  color: white;
  border-style: none;
  text-decoration: none;
  padding: 2px 20px;
  border-radius: 5px;
}

.appointment-actions-edit {
  display: flex;
  justify-content: space-around;
}

.appointment-actions-save,
.appointment-actions-cancel,
.show-appointment-cancel-btn,
.profile-appointment-delete,
.profile-appointment-show,
.profile-link-back {
  background-color: #CD0E0E;
  color: white;
  border-style: none;
  text-decoration: none;
  padding: 2px 20px;
  border-radius: 5px;
}
