<div class="container-fluid">
<header class="background-picture">
    <div class="postalcode">
      <div class="title-home">
        <h2>GIVE</h2>
        <h2>YOUR</h2>
        <h2>BLOOD</h2>
      </div>
      <p class="title-p">Save lives, find a nearby locations to donate</p>
   
      <div data-controller="search">
          <div class="input-group">
              <%= link_to "Find us", centers_path, class: "home-page-btn"%>
          </div>
      </div>
    
    </div>
</header>
 <div class="title-article">
    <h2 class="title-h2">HOW TO SAVE LIVES?</h2>
  </div>
  <div class="phrase">
    <p> Your blood is a gift of life waiting to be shared. Join us in making a difference.</p>
    <p>Donate blood today and be the hero someone is praying for!</p>
  </div>
  <div class="card">
    <div class="card-css">
      <div class="card-phrase">
        <h3> World Health Organization </h3>
        <p>" There is a constant need for a regular supply of blood because it can be stored only for a limited period of time before use. Regular blood donation by a sufficient number of healthy people is needed to ensure that blood will always be available whenever and wherever it is needed... "</p>
        <a href="https://www.who.int/news-room/questions-and-answers/item/blood-products-why-should-i-donate-blood#:~:text=Blood%20is%20the%20most%20precious,for%20patients%20with%20specific%20conditions" class="card-btn" target="_blank">
          <button>Read More</button>
        </a>
      </div>
    </div>
    <div class="card-css">
      <div class="card-phrase">
        <h3> American Red Cross </h3>
        <p>" Every two seconds, someone in the U.S. needs blood. Blood is essential to help patients survive surgeries, cancer treatment, chronic illnesses, and traumatic injuries. This lifesaving care starts with one person making a generous donation. The need for blood is constant. But only... " </p>
        <a href="https://www.redcrossblood.org/local-homepage/news/article/blood-donation-importance.html" class="card-btn" target="_blank">
          <button>Read More</button>
        </a>
      </div>
    </div>
    <div class="card-css">
      <div class="card-phrase">
        <h3> Columbia University </h3>
        <p>" By going to donate blood, you are getting a mini-physical,” says DeSimone. Before you are allowed to donate, your vital signs will be checked to make sure you are fit enough for the procedure. This exam might turn up a condition that needs medical attention, such as high blood ... " </p>
        <a href="https://www.cuimc.columbia.edu/news/surprising-benefits-donating-blood" class="card-btn" target="_blank">
          <button>Read More</button>
         </a>
      </div>
    </div>
  </div>
</div>
