<div class="container-fluid">
<header class="background-picture">
    <div class="postalcode">
      <div class="title-home">
        <h2>GIVE</h2>
        <h2>YOUR</h2>
        <h2>BLOOD</h2>
      </div>
      <p class="title-p">Save lives, add your postal code below and find nearby locations to donate</p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Postal code" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
      </div>
    </div>
</header>
 <div class="title-article">
    <h2 class="title-h2">HOW TO SAVE LIVES?</h2>
  </div>
  <div class="phrase">
    <p> Your blood is a gift of life waiting to be shared. Join us in making a difference.</p>
    <p>Donate blood today and be the hero someone is praying for!</p>
  </div>
  <div class="card">
    <div class="card-css">
      <div class="card-phrase">
        <p>In emergencies such as accidents, natural disasters, or traumatic events, individuals may experience significant blood loss.</p>
        <button class="card-btn">Read More</button>
      </div>
    </div>
    <div class="card-css">
      <div class="card-phrase">
        <p>Patients undergoing surgery or cancer treatment may require blood transfusions to replace blood lost during the procedure.</p>
        <button class="card-btn">Read More</button>
      </div>
    </div>
    <div class="card-css">
      <div class="card-phrase">
        <p>Patients with chronic diseases such as sickle cell anemia or thalassemia may require blood transfusions to manage their condition.</p>
        <button class="card-btn">Read More</button>
      </div>
    </div>
  </div>
</div>
