<div class="container" style="padding: 50px; margin-top: 60px;">
  <h1>New Day</h1>
  <%= render 'form', day: @day %>
</div>

<div class="container" style="padding: 50px; margin-top: 60px;">
  <h1>Edit Day</h1>
  <%= render 'form', day: @day %>
</div>