.navbar-lewagon {
  justify-content: space-between;
  background:#FAEBD7;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  justify-content: right;
}

.title {
  color: rgb(183, 8, 8);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
}

 .navbar-lewagon {
  color:black;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  display: flex;
 justify-content: center;
}
