.btn-login {
  margin: 0;
  margin-bottom: 10px;
}

.form-actions2 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.link-registration {
  text-decoration: none;
  color: #CD0E0E;
}