<div class="new-form-container">

<h1 class= "edit-f">Edit Appointment</h1>

<%= render 'form_edit', appointment: @appointment %>

<%= link_to 'Show', @appointment %> |
<%= link_to 'Back', appointments_path %>

</div>
